[Unit]
Description=Refresh Waveshare e-paper every 1 hour with top Reddit image

[Timer]
# Run 1 minutes after boot, then every 1 hour. Persistent=true means if the Pi
# was off, it'll fire once on the next boot. RandomizedDelaySec spreads load if
# you ever run this on multiple Pis (and prevents Reddit rate-limit clustering).
OnBootSec=1min
OnUnitActiveSec=1h
RandomizedDelaySec=1min
Persistent=true
Unit=epaper-reddit.service

[Install]
WantedBy=timers.target
